.env
.claude/
# ignore data folder
data/

# ignore logs
logs/

# ignore shared state
shared_state/

# ignore python cache
__pycache__/
*.pyc
/Users/tinglianghuang/Documents/Finace_Agent_Team/src/__pycache__/
